body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.diary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.nav-buttons {
  margin-bottom: 20px;
}

.month-year-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.month-buttons,
.year-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.day-buttons {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.day-button {
  font-size: 1.5em;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.day-button.selected {
  background-color: rgb(170, 255, 213);
}

.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.entry {
  width: 100%;
}

.entry-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  resize: both;
  margin-top: 40px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 40px;
}
